# Editor directories and files
.idea
.vscode
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw*

# Log files
npm-debug.log*
yarn-debug.log*
yarn-error.log*
.pnpm-debug.log*

# Dependencies
/node_modules

# rc
/.husky

# source
/src
.editorconfig
.eslintrc
.gitattributes
.gitignore
.huskyrc
.lintstagedrc
.prettierrc
pnpm-lock.yaml
tsconfig.json
